html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Montserrat", Arial
}

main {
    padding-top: 130px;
}

.username {
    font-weight: 600;
}

.font-semibold {
    font-weight: 800;
}

.email {
    
}

.categories-card {
    width: 100px;
    height: 100px;

}

.categories-img {
    height: 100%;
    object-fit: cover;
}

.dropdown-toggle::after {
    display: none;
    border: none
}

.dropdown-toggle:focus,
.dropdown-toggle:active {
    outline: none; /* hilangkan outline default browser */
    box-shadow: none; /* hilangkan shadow fokus bootstrap */
}

.dashboard-container {
    width: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sidebar {
    grid-column: 2 span;

}