@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}
@model ProductCategoryList

<!-- Banner Section -->
<section class="card bg-dark text-white rounded-3 overflow-hidden my-4" style="width: 100%; height: 300px; border-radius: 50px;">
    <img src="" class="card-img rounded-3" alt="Background"/>
</section>

<!-- Category Section -->
<section class="my-4">
    <div class="container my-4">
        <h5 class="mb-4">Kategori</h5>

        <div class="d-flex flex-wrap justify-content-between">
            @foreach (var c in Model.Categories)
            {
                <div class="text-center">
                    <div class="card categories-card mx-auto" style="width: 100px; height: 100px;">
                        <img src="~/images/categories/@c.IconName" class="card-img categories-img" />
                    </div>
                    <p>@c.Name</p>
                </div>
            }
        </div>
    </div>
</section>

<!-- Recommendation Section -->
<section>
    <div class="container py-5">
        <h3 class="text-center text-success">Rekomendasi Produk</h3>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 gap-2">
            <div class="col">
                @foreach(var p in Model.Products)
                {
                    <div class="card">
                        <img class="card-img-top" src="~/images/products/@p.ImagePath" alt="Card Image" />
                        <div class="card-body">
                            <h5 class="card-title">@p.Name</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
