@{
}
@model UserModel;

<!-- Modal Edit-->
<div class="modal fade" id="EditDataModal" tabindex="-1" aria-labelledby="EditModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Data</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="EditId" type="hidden" name="id" value="" />
                    <div>
                        <label class="form-label">Nama</label>
                        <input type="text" id="EditName" name="name" value="" class="form-control" />
                        <span class="text-danger" id="errorName"></span>
                    </div>
                    <div class="mt-2">
                        <label class="form-label">Email</label>
                        <input type="email" id="EditEmail" name="email" class="form-control" />
                        <span class="text-danger" id="errorEmail"></span>
                    </div>
                    <div class="mt-2">
                        <label class="form-label">Role</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input EditRole" type="radio" name="Role" value="0" id="role1" />
                                <label class="form-check-label" for="role1">User</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input EditRole" type="radio" name="Role" value="1" id="role2" />
                                <label class="form-check-label" for="role2">Seller</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input EditRole" type="radio" name="Role" value="2" id="role3" />
                                <label class="form-check-label" for="role3">Admin</label>
                            </div>
                        </div>
                        <span class="text-danger" id="errorRole"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                    <button id="EditButton" type="button" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>
